<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('sidebar') %>

    <main class="p-4 sm:ml-64">

      <%- body %> 
    </main>

  </body>
</html>
