<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('sidebar') %>

    <div class="p-4 sm:ml-64">
      hello world
    </div>

  </body>
</html>
